{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block body %}
  <br>
  <form method="post">
        <input type="text" name="query">
        <input type="submit" name="button" value="Search">
  </form>

  {% if query|length > 0 %}
    <p> Showing results for '{{ query }}' </P>
    <br>
  {% endif %}
  <br>
  <h3>Your Guides</h3>
    {% if own_guides|length < 1 %}
      <p>You haven't created any guides</p>
    {% else %}
      <ul>
      {% for guide in own_guides %}
        <li>
          <a href={{"/guide/"+(guide["id"]|string)}}>{{ guide["name"] }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  <br>
  <br>
  <h3>Purchased Guides</h3>
    {% if pur_guides|length < 1 %}
      <p>You haven't bought any guides</p>
    {% else %}
      <ul>
      {% for guide in pur_guides %}
        <li>
          <a href={{"/guide/"+(guide["id"]|string)}}>{{ guide["name"] }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </ul>
{% endblock %}
