{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block body %}
  {% block navbar %}
  {% endblock %}
  <div align="center" class="login-wrapper">
    <h1 style="font-size:50px">Login</h1>
      <br>
      <br>
      <form method = "GET">
        <label>Username</label>
        <input type = "text" name = "username">
        <br>
        <label>Password</label>
        <input type = "password" name = "password">
        <br>
        <br>
        <input class="btn btn-secondary btn-sm login-button" type = "submit" value = "Log in">
      </form>
      <br>
      <form action = "/register">
        <input class="btn btn-secondary btn-sm login-button" type = "submit" value = "Create Account">
      </form>
    </div>
  </div>
{% endblock %}
