{% extends "base.html" %}

{% block title %}
  Marketplace
{% endblock %}

{% block body %}
  <br>
  <h3> The Marketplace </h3>

  <div class="col-md-6">
  <form method="post">
            <label>Search by Title:</label>
            <input type="text" name="query" size="70">
            <br>
            <label>Filter by Subject:</label>
            <select class="custom-select" name="subject">
              <option selected>Any</option>
              {% for o in subjects %}
                <option>{{o}}</option>
              {% endfor %}
            </select>
        <input type="submit" name="button" value="Search">
  </form>
  </div>
  <br>

  {% if query|length > 0 %}
    <p> Showing results for '{{ query }}' </P>
  {% endif %}
  {% if subject != "Any" %}
    <p> Only showing guides with subject '{{ subject }}' </P>
    <br>
  {% endif %}
  
  {% if guides|length < 1 %}
    <p> No results found. </p>
    {% else %}
        {% for guide in guides %}
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ guide["name"] }}</h4>
              <h5>Created by {{ guide["user"] }}</h5>
              <h5>Subject: {{ guide["subject"]}}</h5>
              <br>
              <p class="card-text">{{ guide["buyers"] }} buyers</p>
              {% if guide["ratings"] == 0 %}
                <p class="card-text">No reviews</p>
              {% else %}
                <p class="card-text">{{ guide["rating"] }} rating on {{ guide["ratings"] }} reviews</p>
              {% endif %}
              <a href={{"/buy/"+(guide["id"]|string)}} class="btn btn-info">Buy for {{ guide["cost"] }}</a><br>
        {% endfor %}
  {% endif %}
{% endblock %}
