{% extends "base.html" %}

{% block title %}
  Marketplace
{% endblock %}

{% block body %}
  <br>
  <h3> The Marketplace </h3>

  <form method="post">
        <input type="text" name="query">
        <input type="submit" name="button" value="Search">
  </form>

  {% if query|length > 0 %}
    <p> Showing results for '{{ query }}' </P>
    <br>
  {% endif %}
  {% if guides|length < 1 %}
    <p> No results found. </p>
    {% else %}
        {% for guide in guides %}
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ guide["name"] }}</h4>
              <h5>Created by {{ guide["user"] }}</h5>
              <h5>Subject: {{ guide["subject"]}}</h5>
              <br>
              <p class="card-text">{{ guide["buyers"] }} buyers</p>
              {% if guide["ratings"] == 0 %}
                <p class="card-text">No reviews</p>
              {% else %}
                <p class="card-text">{{ guide["rating"] }} rating on {{ guide["ratings"] }} reviews</p>
              {% endif %}
              <a href={{"/buy/"+(guide["id"]|string)}} class="btn btn-info">Buy for {{ guide["cost"] }}</a><br>
        {% endfor %}
  {% endif %}
{% endblock %}
