{% extends "base.html" %}

{% block title %}
  Marketplace
{% endblock %}

{% block body %}
  <br>
  <h3> The Marketplace </h3>

  {% if guides|length < 1 %}
    <p> Unfortunately, there are currently no guides up on the market. </p>
    {% else %}
      <ul>
        {% for guide in guides %}
          <li>
            <a href="#">{{ guide["name"] }} </a><br>
            <p> Subject: {{ guide["subject"]}} </p><br>
            <p> Price: {{ guide["cost"] }} </p><br>
            <p> Author: {{ guide["user"] }} </p><br>
            <p> Rating: {{ guide["rating"] }} </p>
          </li>
        {% endfor %}
      </ul>
  {% endif %}
{% endblock %}
